head {
    text-align: center;
    top: 0;
}

body {
    position: absolute;
    background-image: url(https://wallpapercave.com/wp/qLvmYcE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    font-size: 30px;
    font-family: 'Abel';
}

#quoted {
    margin-top: 15%;
    margin-bottom: 35%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
}

#buttons {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: thin solid white;
    border-radius: 5px;
}

#buttons:hover {
    background-color: red;
}